@import "navbar.css";



@media only screen and (min-width: 720px) {
    .video-container {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .embed-video {
        width: 65%;
    }

    .video-texts-container {
        padding: 20px;
        display: flex;
        flex-direction: column;

    }
    
    .video-title {
        font-size: 25px;
    }
    .video-created_at{
        color: #9a9a9a;
    }
}
